* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header h1 {
    background-color: rgba(255, 213, 162, 0.377);
    color: rgb(46, 46, 46);
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: rgba(228, 199, 163, 0.562);
    justify-content: center;
}

form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 25px;
}

form input {
    padding: 5px 100px;
    margin: 0 5px;
}

form button {
    text-transform: uppercase;
    border: none;
    background-color: rgb(54, 175, 85);
    color: rgb(0, 0, 0);
    padding: 6px;
    cursor: pointer
}

form button:hover {
    background-color: rgb(68, 212, 104);
}

ul {
    display: table;
    margin: 0 auto;
    justify-content: center;
    text-transform: lowercase;
    cursor: pointer;
}

ul li {
    padding-bottom: 3px;
}